<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CHAT_BOT</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "htmleaf-demo.css"%}"/>
	<link rel="stylesheet" href="{% static "botui.min.css" %}"/>
    <link rel="stylesheet" href="{% static "botui-theme-default.css"%}" />
</head>
<body>
{% csrf_token %}

			<div class="botui-app-container" id="mychatbotUI">
			      <bot-ui></bot-ui>
			</div>

	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{% static "botui.min.js"%}"></script>
	<script type="text/javascript">
		var homeBot = BotUI('mychatbotUI');
        //var homeBot=document.getElementById('test')
		homeBot.message.add({
          delay: 1000,
		  content: 'Sup,CSE student！'
		}).then(function () {
		  return homeBot.message.add({
		    delay: 1000,
		    content: 'wanna see something cool？'
		  });
		}).then(function () {
		  return homeBot.action.button({
		    delay: 1000,
		    action: [{
		      text: 'OK!',
		      value: 'sure'
		    }, {
		      text: 'Nah😒',
		      value: 'skip'
		    }]
		  });
		}).then(function (res) {
		  if(res.value == 'sure') {
		      mytutorial();
		      loopfuc3();
		  }
		  if(res.value == 'skip') {
		    end();
		  }
		});

		var mytutorial = function () {
		    homeBot.message.add({
		    delay: 1000,
		    content: "cool, try to ask me some course information about cse"
		  }).then(function () {
		      homeBot.message.add({
		      delay: 1000,
		      content: 'like which course you want to know more about it？（click enter after type in..）'
		    });
        })}

		  var loopfuc3=function () {
              return homeBot.action.text({
		      delay: 2500,
		      action: {
		        value: '',
		        placeholder: 'type in please...'
		      }
		  }).then(function (res) {
		    var data = JSON.stringify({"content":res.value})
              $.ajax({
                url:"Chatbot_sub",
                contentType:'application/json;charset=UTF-8',
                type:"POST",
                data:data,
                beforeSend: function(xhr, settings) {
                    var token =  $('input[name=csrfmiddlewaretoken]').val()
                    xhr.setRequestHeader("X-CSRFToken",token);
                },
                success:function (data) {
                      return homeBot.message.bot({
		              delay: 500,
		              content: data + ', is that your want?'
		    }).then(function () {
                         loopfuc3();
                      });
                },error:function (error) {
                    console.log(error)
                }
            })
		  });
          }

		var end = function () {
		  homeBot.message.add({
		    delay: 1000,
		    content: 'see ya!'
		  });
		};


	</script>
</body>
</html>