<html class="gr__sighingnow_github_io">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% load static %}
<script src="{% static "jquery.js"%}" type="text/javascript"></script>
<script src="{% static "layer/layer.js"%}" type="text/javascript"></script>

<title>what can I do for you!</title>

<style type="text/css">
    video::-webkit-media-controls{
        display:none !important;
    }
</style>
<style>

body {
    margin: 0;
    background: transparent;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}
@media screen and (max-width: 500px) {
    #polina {
        width: 50%;
    }
}

.stopfade{opacity: .8}

</style>

<script type="text/javascript">
       function askme() {
           layer.open({
               type: 2,
               title: 'Ask me!',
               shadeClose: true,
               shade: false,
               maxmin: false, //开启最大化最小化按钮
               area: ['650px', '600px'],
               content:'http://127.0.0.1:8000/UI/Chatbot_iframe'
           });
       }
 </script>
</head>

<body>
    {% load static %}
    <video class="abc"  preload muted autoplay loop id="video">
        <source src="{% static "myvideo.mp4" %}" type="video/webm">
        <source src="{% static "myvideo.mp4" %}">
    </video>

    <div id="ask_me" onclick="askme()" style="cursor: pointer; background: url('{% static "enter-animate.gif" %}') 0% 0% / contain white; z-index: 9999; position: fixed; box-shadow: rgba(15, 66, 76, 0.25) 0px 0px 14px 0px; width: 60px; height: 60px; border-radius: 50%; right: 40px; bottom: 20px; overflow: visible;"></div>

</body>
</html>

