<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body>
<div align="center">
    <strong>
                            <p>
                             hi,there! I am a chatbot! you can ask me for information about cse/Unsw! Such as:
                             <br>1.information about courses.
                             <br>2.information about staffs.
                             <br>3.information about streams.
                             <br>For example: ask me "What is the prerequisite of coMp9024?"
                             <br>Now,click me andry it!!
                            </p>
</strong>
                        </div>
<style>
    body{
        background-image: url("{% static "6.jpg" %}");
        background-size:cover
    }
    p{
        color: yellow;
        font: italic bold 14px/30px arial,sans-serif;
    }
</style>
</body>
</html>